h2 {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: cadetblue;
}

.topofpage {
    background-color: #3d3d29;
}